* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}
main article #ramdani, #film, #musik, #makanan, #minuman, #game {
    scroll-margin-top: 2rem;
}

/* HEADER */
/* HEADER | JUMBOTRON */
header .jumbotron {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    text-align: center;
    background-color: royalblue;
}

header .jumbotron h1 {
    padding: 0 1rem;
    display: inline;
    font-size: clamp(2rem, 5vw, 3rem);
    color: white;
    background-color: #3250B4;
    border-radius: 10px 100px 100px 10px;
}

header .jumbotron p {
    font-size: clamp(1.2rem, 5vw, 1.5rem);
    color: white;
}
header .jumbotron span {
    border-bottom: 1.5px solid white;
}

/* HEADER | NAVBAR */
header nav {
    top: 0;
    position: sticky;
    padding: 1.5rem;
    background-color: black;
    overflow: auto;
}

header nav ul {
    display: flex;
    gap: 2rem;
}
header nav ul li {
    list-style: none;
}

header nav ul li a {
    padding: 1rem .5rem;
    color: white;
    text-decoration: none;
}
header nav ul li a:hover {
    border-bottom: 2px solid white;
}

/* MAIN */
main {
    margin: 2rem;
    display: flex;
    gap: 2rem;
}

/* MAIN | ARTICLE - RAMDANI */
main article .ramdani .ramdani-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

main article .ramdani .ramdani-profile img {
    width: 5rem;
    border-radius: 100%;
    box-shadow: 0 4px 10px #00000022;
}

main article .ramdani .ramdani-profile h3 {
    display: flex;
    align-items: center;
    gap: .3rem;
    font-size: 1.4rem;
}
main article .ramdani .ramdani-profile h3 svg {
    fill: royalblue;
}

/* MAIN | ARTICLE */
main article {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main article .content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px #00000022;
    border-radius: 1rem;
}

main article .content h2 {
    font-size: 2.5rem;
    line-height: 1;
}

main article .content .hastag {
    padding: .3rem .8rem;
    display: flex;
    align-items: center;
    color: white;
    background-color: #3250B4;
    border-radius: 8rem 100px 100px 4rem;
}
main article .content .hastag svg {
    fill: skyblue;
}

main article .content img {
    width: 100%;
    border-radius: 1rem;
}

main article .content p {
    line-height: 1.6;
    text-align: justify;
}

/* MAIN | ASIDE */
main aside {
    width: 30%;
}

main aside .content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: white;
    box-shadow: 0 4px 8px #00000022;
    border-radius: 1rem;
}

main aside .content h3 {
    display: flex;
    align-items: center;
    gap: .3rem;
    font-size: 1.4rem;
}
main aside .content h3 svg {
    fill: royalblue;
}

main aside .content p {
    font-size: 1.1rem;
}

main aside .content img {
    width: 100%;
    border-radius: 1rem;
}

/* FOOTER */
footer {
    padding: 2rem;
    color: white;
    background-color: black;
    text-align: center;
}

/* RESPONSIVE BREAKPOINTS */

@media (max-width: 576px) {
    main {
        margin: 1rem;
        display: flex;
        flex-direction: column;
    }

    /* MAIN | ARTICLE */
    main article {
        width: 100%;
    }

    /* MAIN | ASIDE */
    main aside {
        width: 100%;
    }
}